@import 'reset';
@import 'global';
@import 'mixins';
@import 'variables';
html {
    background-color: #colors[bg0];
    color: #colors[fg0];
}

input {
    outline: none;
    border: 0.2rem solid #colors[fg1];
}

input.invalid {
    border: 0.2rem solid #colors[em2];
}