#colors() {
    bg0: #222;
    bg1: #333;
    bg2: #444;
    bg3: #555;
    fg0: #ccc;
    fg1: #ddd;
    fg2: #eee;
    fg3: #fff;
    em0: rgb(93, 230, 93);
    em1: rgb(187, 85, 218);
    em2: rgb(243, 83, 136);
}